autocorrect==2.6.1
datasets==2.18.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
huggingface-hub==0.20.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.10
nltk==3.8.1
num2words==0.5.13
regex==2023.12.25
scikit-image==0.19.3
scikit-learn==1.5.0
scipy==1.11.4
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5